# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.idea

exercise/exercise01/node_modules/
exercise/exercise02/node_modules/
exercise/exercise03/node_modules/
exercise/exercise03/demo.html
exercise/exercise03/test.js
exercise/exercise04/node_modules/
exercise/exercise05/node_modules/
exercise/exercise06/node_modules/
exercise/exercise07/node_modules/
exercise/exercise09/node_modules/
exercise/exercise10/node_modules/

/withMysql/node_modules
